@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: #ffffff;
    --lightGray: #d6e2f0;
    --grayish: #7b879d;
    --darkBlue: #1f3251;
    --blue: #3784fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--lightGray);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 500px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 17px;
    text-align: center;
    gap: 24px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: scale 200ms ease;
}

.qrcode-card:hover {
    scale: 1.15;
}

.qr-code {
    width: 100%;
    border-radius: 10px;
}

.card-header {
    font-size: 22px;
    color: var(--darkBlue);
}

.card-text {
    font-size: 15px;
    color: var(--grayish);
    width: 90%;
    margin-top: -5px;
}

.attribution {
    position: fixed;
    bottom: 10px;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    color: var(--grayish);  
}

.attribution a {
    text-decoration: none;
    color: var(--blue);
}

.attribution a:hover {
    color: var(--darkBlue);
}
